.table_wrapper {
	padding: 15px;
}
.table_wrapper table {}
.table_wrapper table tr {}
.table_wrapper table tr td {
	padding: 5px 15px;
}
.table_wrapper {}

.button{
	padding: 5px;
	margin: 1px;
}
.update{
	color: black;
	background-color: yellow;
}
.delete{
	color: white;
	background-color: red;
}
